.wrapper {
    display: flex;
}

.wrapper .sidebar {
    background: rgb(5, 68, 104);
    width: 225px;
    height: 100vh;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile h3 {
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
    color: rgb(206, 240, 253);
    font-size: 14px;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: #0c7db1;

    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.parent-request {
    display: flex;
    flex-direction: column;
    /* Set the flex direction to vertical (column) */
    justify-content: center;
    /* Align items vertically at the center */
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 15px;
}

.profile-request{
    display: flex;
    padding: 15px;
    width: 100%;
    height: 20vh;
    border-radius: 20px;
    background-color: #10558d;
    justify-content: center;
    align-items:center;
}

.table-request{
    border-color: rgb(98, 90, 90);
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    height: 80vh;
    padding: 15px;
}

.input-style{
   padding: 20px;
   width: 30%;
   margin: 7px;
}

.button-style{
    padding: 20px;
    width: 15%;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
    height: 70vh;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

  }
  
  #add-button {
    margin-top: 10px;
  }
  